---
apiVersion: v1
kind: Secret
metadata:
  name: {{ _APP_ }}-sc
  namespace: {{ _USERID_ }}-ns
  labels:
    app: {{ _APP_ }}
stringData:
{% for key, value in secrets.items() %}
  {{ key }}: "{{ value }}"
{% endfor %}
