---
apiVersion: v1
kind: Service
metadata:
  name: {{ _APP_ }}
  namespace: {{ _USERID_ }}-ns
  labels:
    app: {{ _APP_ }}
spec:
  type: ClusterIP
  ports:
  - name: mysql
    port: 8036
    protocol: TCP
    targetPort: 3306
  selector:
    app: {{ _APP_ }}
